START_DATE=2024-01-01
END_DATE=2024-12-31
MODEL_TYPE=gru
SENTIMENT_METHOD=transformer
MIN_HOLDING_PERIOD=5
MAX_TRADES_PER_WEEK=3
INITIAL_CAPITAL=100000.0
OUTPUT_DIR=output
REDDIT_SUBREDDIT=CryptoCurrency
USE_SENTIMENT_STRATEGY=true
SENTIMENT_THRESHOLD=0.3
SENTIMENT_CHANGE_THRESHOLD=0.1
NUM_STOCKS=5
SENTIMENT_WEIGHT=0.6
TECHNICAL_WEIGHT=0.4

OPENAI_API_KEY = YOUR_OPENAI_KEY
FMP_API_KEY = your_fmp_api_key
FRED_API_KEY = your_fred_api_key